.contentBody {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.contentBody .contact_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: #740712;
  padding: 20px;
  border-radius: 8px;
}

.contentBody .heading{
  justify-self: center;
}

.contentBody .contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00274d;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.contentBody .contact:hover {
  transform: translateY(-5px); /* Slight lift effect */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}
.contentBody .contact > img{
  width: 100px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 10px;
}
.contentBody .contact > a >img{
  width: 60px;
  margin-top: 10px;
}
.contentBody .contact > h5{
  min-width: 250px;
  max-width: 250px;
}
.contentBody .contact > p {
  max-width: 250px;
}

.contentBody .description {
  width: 96%;
  background-color: #00274d;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
